<html>
    <body>
        {{ content|raw }}

        <p>Si ne vous n'êtes pas à l'origine de cette souscription à la newsletter de OWL Eyeswear, rendez vous sur ce lien : <a href="{{ path('newsletter_stop_send', {'id': entity.id }) }}">lien</a></p>
    </body>
</html>