
body
{
    position: relative;
}

footer
{
    position: relative;
    bottom: 0;
    color: #ffffff;
    background-color: #454545;
    left: 0;
    right: 0;
    margin-top: 5%;
    height: 10%;
}
.navbar-custom
{
    color: inherit;
    margin: 1%;
    
    background-color: #707070;
    text-decoration: none;
    color: #1d1d1b;
    /*border-right: 1px solid #84B6D0;*/


}
li
{
    border-right: 1px solid #45454580;
    color: #ffffff;
}
.logo
{
    height: 100px;
}
.band
{
    background-color: #f7a400;
    height: 4%;
    width: 100%;
}
.nav-link
{
    color: #ffffff;
    font-family: 
}