
body
{
    position: relative;
}

footer
{
    position: absolute;
    bottom: 0;
    color: #ffffff;
    background-color: #343a40;
    left: 0;
    right: 0;
}
.navbar-custom
{
    color: inherit;
    margin: 1%;
    background-color: #f7a400;
    text-decoration: none;
    color: #1d1d1b;
    


}
.logo
{
    height: 100px;
}
