body, html{
    height: 100%;
    margin: 0;
}
* {
    box-sizing: border-box;
  }
.bg-image:before
{   
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  
  display: block;
    /*image + filtre */
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
      ),url("../images/background.jpg");
    /*filtre*/

    /*filter: blur(2px);*/
    /*formatage*/
    top: 0;
    height: 730px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    
}

.imgGlassDetailEN
{
    height: 293px;
}
.imgPack
{
    height: 509px;
}
/*.bg-image:after
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}
*/
.container
{
    max-width: 1550px;
}
.txt-presentation
{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;
    position: relative;
    top:180px;
}
.coatDetail2
{
    text-align: right;
}
.pngSunView p
{
 font-style: italic;
 text-align: center;   
}
.stats::before
 {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    
    display: block;
      /*image + filtre */
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.45), 
          rgba(0, 0, 0, 0.45)
        ),url("../images/bf3121dc2309cf78049447bcbda3c149_original.jpg");
      /*formatage*/
      height: 65%;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      max-height: 600px;
      background-size: cover;
      background-attachment: scroll, local;      
 }
 .statisticsFR 
 {
     text-align: center;
 }
  .stats
 {
     text-align: center;
     color: #ffffff;
 }
 .stats img
 {
     margin-top: 40px;
 }
 .framelst
 {
    margin-top: 360px;
 }
 .framelst
 {
     text-align: center;
 }

.txt, .glass, .coat, .imgframe1
{
    text-align: center;
}
.img1
{
    text-align: center;  
}
.img2
{
    text-align: center;
}
.img3
{
    text-align: center;
}
.img4
{
    text-align: center;
}
.img5
{
    text-align: center;
}
.img6
{
    text-align: center;
}
.img7
{
    text-align: center;
}