body, html{
    height: 100%;
    margin: 0;
}
* {
    box-sizing: border-box;
  }
.bg-image:before
{   
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  
  display: block;
    /*image + filtre */
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
      ),url("../images/background.jpg");
    /*filtre*/

    /*filter: blur(2px);*/
    /*formatage*/
    top: 0;
    height: 85%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    
}
/*.bg-image:after
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}
*/
.container
{
    max-width: 1550px;
}
.txt-presentation
{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;
    position: relative;
    top:180px;
}
.coatDetail2
{
    text-align: right;
}
/**.glass
{
    text-align: left;
    border-style : none ;
    overflow: hidden;
    white-space: nowrap;
}
.coat
{
    text-align: right;
    border-style: none;
    white-space: nowrap;
    overflow: hidden;
    margin-top: -363px;
}**/