<h1>Inscription à la newsletter</h1>

<p>Merci de votre souscription à la newsletter de OWL Eyeswear</p>

<p>Si vous n'êtes pas à l'origine de cette souscription, merci d'ignorer ce mail</p>

<h2>Confirmer votre souscription</h2>

<p>Pour confirmer votre souscription à la newsletter de OWL Eyeswear, rendez vous sur ce lien : <a href="#">lien</a></p>